body {
  background: linear-gradient(to top, #d7bcb0 0%, #ace0f9 100%);
  background-attachment: fixed;
  font-family: "Roboto", sans-serif;
}
header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 0 0 30px 0;
}

footer {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.6);
}
a {
  color: #f98d66;
}
main {
  padding: 30px 0;
}
.weather-box {
  background: linear-gradient(to top, #d7bcb0 0%, #ace0f9 100%);
  /* background-color: rgba(255, 255, 255, 0.15);*/
  max-width: 600px;
  margin: 50px auto;
  padding: 40px;
  border: none;
  border-radius: 10px;
  box-shadow: none;
}

.search-city-input {
  background-color: #e7f6fb;
  border: none;
  border-radius: 10px;
  width: 80%;
  padding: 16px;
  font-size: 16px;
}
.submit-search {
  background-color: #f8e5de;
  color: #3d4040;
  border: none;
  border-radius: 10px;
  padding: 16px;
  font-size: 16px;
  margin-left: 5px;
  width: 18%;
}
.weather-app-data {
  display: flex;
  justify-content: space-between;
}
.weather-city {
  color: #3d4040;
  margin: 0;
  font-size: 38px;
  font-weight: 700;
  line-height: 48px;
}
.weather-details {
  color: rgba(39, 33, 66, 0.4);
  display: block;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin-block-end: 16px;
  margin-block-start: 16px;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
}
.weather-details strong {
  color: #30a7de;
}
.weather-temperature-container {
  display: flex;
}
.weather-temperature-value {
  color: #3d4040;
  font-size: 88px;
  font-weight: 700;
  height: 100px;
  line-height: 88px;
}
.weather-temperature-icon {
  width: 90px;
  height: 90px;
}
.weather-temperature-unit {
  color: #3d4040;
  margin-top: 6px;
  font-size: 28px;
  height: 120px;
}
.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.weather-forecast-date {
  text-align: center;
  color: #82899a;
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 10px;
}

.weather-forecast-icon {
  width: 60px;
  text-align: center;
  display: block;
  margin: 0 auto;
}
.weather-forecast-temperatures {
  text-align: center;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.weather-forecast-temperature {
  padding: 0 10px;
  display: inline-block;
}
